<div class="col-md-8 col-md-offset-4" id="chatBox">
  <div id="chatMessages" class="container" style="overflow-y: scroll; height: 85%;" >

  </div>
  <ul></ul>
  <div>
    <div id="myTextContainer" style="margin:auto">
      <div id="myTextInnerContainer">
        <input class="mytext" placeholder="Type a message"/>
      </div>
    </div>
  </div>
</div>

<!-- my script -->
<script>
  <% if(currentUser.id == conversation.propertyOwner) { %>
    var myId = "<%= conversation.propertyOwner %>"
    var otherId = "<%= conversation.propertyResident%>"
  <% } else { %>
    var myId = "<%= conversation.propertyResident %>"
    var otherId = "<%= conversation.propertyOwner %>"
  <% } %>

  console.log(myId)
  var $chatMessages = $('#chatMessages')
  var myMessageTemplate = 
    '<div class="row message-row my-message" style="text-align: right; margin-bottom: 10px;">' +
      '<div class="col message-column">' +
        '<div class="message-box" style="text-align: right;">' +
          '<p class="content"></p>' +
          '<small class="time"></small>' +
        '</div>' +
      '</div>' +
    '</div>'


  var otherMessageTemplate = 
    '<div class="row message-row other-message" style="text-align: left; margin-bottom: 10px;">' +
      '<div class="col message-column">' +
        '<div class="message-box" style="text-align: left;">' +
          '<p class="content"></p>' +
          '<small class="time"></small>' +
        '</div>' +
      '</div>' +
    '</div>'

  var currentMessages = {}

  var displayMessages = (messages) => {
    messages.forEach((message) => {
      var $newMessage = (message.sender == myId) ? $(myMessageTemplate).clone() : $(otherMessageTemplate).clone()
      
      $newMessage.find('p.content').text(message.content)
      $newMessage.find('small.time').text(moment(message.createdAt).format('LT'))
      $chatMessages.append($newMessage)
    })
    
    $chatMessages.scrollTop($chatMessages.prop("scrollHeight"));
  }



  var fetchMessages = () => {
    $chatMessages.html('')
    $.ajax({
      url: "/conversations/<%= conversation.id %>/messages",
      method: 'get'
    }).done((messages) => {
      currentMessages = messages
      displayMessages(messages)
    })
  }


  var fetchMessagesLoop = () => {
    
    $.ajax({
      url: "/conversations/<%= conversation.id %>/messages",
      method: 'get'
    }).done((messages) => {
      if(messages.length > currentMessages.length){
        var newMessageCount = messages.length - currentMessages.length
        var last = messages.length - 1
        var newMessages = messages.slice(last - newMessageCount)
        currentMessages = messages
        displayMessages(newMessages)
      }
    })
  }


  $(".mytext").on("keyup", function(e){
    if (e.which == 13){
      var text = $(this).val();
      if (text !== ""){
        console.log(text)
        //send ajax request to add message to conversation
        var data = {
          conversationId: "<%= conversation.id %>",
          content: text,
          sender: myId,
          receiver: otherId
        }

        $.ajax({
          url: "/conversations/<%= conversation.id %>/messages",
          method: 'post',
          data: JSON.stringify(data),
          contentType: 'application/json'
        }).done((data) => {
          (data == 'success') ? fetchMessages() : alert('Something went wrong. Please try again.')
        })

        $(this).val('');
        
        $chatMessages.scrollTop($chatMessages.prop("scrollHeight"));
        
      }
    }

  });

  $(function(){
    fetchMessages()

    setInterval(fetchMessagesLoop, 500)
  })
</script>

<script>
  // var me = {};
  // me.avatar = "https://lh6.googleusercontent.com/-lr2nyjhhjXw/AAAAAAAAAAI/AAAAAAAARmE/MdtfUmC0M4s/photo.jpg?sz=48";

  // var you = {};
  // you.avatar = "https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg";

  // function formatAMPM(date) {
  //   var hours = date.getHours();
  //   var minutes = date.getMinutes();
  //   var ampm = hours >= 12 ? 'PM' : 'AM';
  //   hours = hours % 12;
  //   hours = hours ? hours : 12; // the hour '0' should be '12'
  //   minutes = minutes < 10 ? '0'+minutes : minutes;
  //   var strTime = hours + ':' + minutes + ' ' + ampm;
  //   return strTime;
  // }            

  // //-- No use time. It is a javaScript effect.
  // function insertChat(who, text, time = 0){
  //   var control = "";
  //   var date = formatAMPM(new Date());
    
  //   if (who == "me"){
  //     control = '<li style="width:100%">' +
  //                 '<div class="msj macro">' +
  //                 '<div class="avatar"><img class="img-circle" style="width:100%;" src="'+ me.avatar +'" /></div>' +
  //                   '<div class="text text-l">' +
  //                     '<p>'+ text +'</p>' +
  //                     '<p><small>'+date+'</small></p>' +
  //                   '</div>' +
  //                 '</div>' +
  //               '</li>';                    
  //   }else{
  //       control = '<li style="width:100%;">' +
  //                   '<div class="msj-rta macro">' +
  //                     '<div class="text text-r">' +
  //                       '<p>'+text+'</p>' +
  //                       '<p><small>'+date+'</small></p>' +
  //                     '</div>' +
  //                   '<div class="avatar" style="padding:0px 0px 0px 10px !important"><img class="img-circle" style="width:100%;" src="'+you.avatar+'" /></div>' +                                
  //             '</li>';
  //   }
  //   setTimeout(
  //     function(){                        
  //       $("ul").append(control);

  //     }, time);
  // }

  // function resetChat(){
  //     $("ul").empty();
  // }

  // $(".mytext").on("keyup", function(e){
  //   if (e.which == 13){
  //     var text = $(this).val();
  //     if (text !== ""){
  //       insertChat("me", text);              
  //       $(this).val('');
  //     }
  //   }
  // });

  // //-- Clear Chat
  // resetChat();

  // //-- Print Messages
  // insertChat("me", "Hello Tom...", 0);  
  // insertChat("you", "Hi, Pablo", 1500);
  // insertChat("me", "What would you like to talk about today?", 3500);
  // insertChat("you", "Tell me a joke",7000);
  // insertChat("me", "Spaceman: Computer! Computer! Do we bring battery?!", 9500);
  // insertChat("you", "LOL", 12000);

  //-- NOTE: No use time on insertChat.
</script>