<h1>All Invoices for Resident: <%= property.resident.firstName %> <%= property.resident.lastName %></h1>
<ul>
  <% property.invoices.forEach (function (i) { %>
    <!-- <%// if (!i.paid) {%> -->
      <li>
        <a href="/properties/<%= property._id%>/invoices/<%= i._id%>">
          $<%= i.amount %>, <%= i.description%>, Paid: <%= i.paid %>
        </a>
      </li>
    <!-- <%//}%> -->
  <% }) %>
</ul>
