<h1 style="margin-top: 100px">Invoice</h1>

<dl style="font-size: 1.25em">
  <dt>Bill From:</dt>
  <dd><%= invoice.billFrom.firstName %> <%= invoice.billFrom.lastName %></dd>

  <dt>Bill To:</dt>
  <dd><%= invoice.billTo.firstName %> <%= invoice.billTo.lastName %> (<%= invoice.billTo.email %>)</dd>

  <dt>Invoice for:</dt>
  <dd><%= property.aptNumber%>, <%= property.street%>, <%= property.city%>, <%= property.state%>, <%= property.zipCode%></dd>

  <dt>Amount Due:</dt>
  <dd>$<%= invoice.amount%></dd>

  <dt>Description: </dt>
  <dd><%= invoice.description%></dd>    

  <dt>Paid:</dt>
  <dd>
    <% if(invoice.paid) { %>
      <span class="badge badge-success">Paid</span>
    <% } else { %>
      <span class="badge badge-danger">Not Paid</span>
    <% }  %>
  </dd>
</dl>

<% if(currentUser.id == invoice.billFrom.id) { %> <!-- if the current user is the person who issued the invoice -->
  <a class="btn btn-partmint" href="/properties/<%=property._id%>/invoices/<%= invoice._id%>/edit">Edit this invoice</a>
<% } else {%>
  <% if (!invoice.paid) {%>
    <form action="/charge?invoiceId=<%= invoice._id%>" method="post">
      <script
        src = "https://checkout.stripe.com/checkout.js"
        class = "stripe-button"
        data-key = "<%= process.env.STRIPE_PK_TEST%>"
        data-amount = "<%=invoice.amount * 100%>"
        data-name = "<%=invoice.description%>"
        data-description = "Monthly Rent"
        data-locale = "auto"
        data-currency = "usd"
      >
    </script>
    <input type="hidden" name="chargeAmount" value="<%=invoice.amount * 100%>">
    </form>
  <% } %>
<% } %>
