<form method="post" action="/properties/<%= property.id%>?_method=PATCH">
  <div class="form-group">
    <label for="exampleFormControlInput1">Apartment Number</label>
    <input value="<%= property.aptNumber%>" type="text" name="aptNumber" class="form-control" id="exampleFormControlInput1" placeholder="152 or W51">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Street Address</label>
    <input value="<%= property.street%>"type="text" name="street" class="form-control" id="exampleFormControlInput1" placeholder="1520 2nd street">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">City</label>
    <input value="<%= property.city%>" type="text" name="city" class="form-control" id="exampleFormControlInput1" placeholder="Los Angeles">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Zip Code</label>
    <input value="<%= property.zipCode%>"type="text" name="zipCode" class="form-control" id="exampleFormControlInput1" placeholder="90041">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">State</label>
    <input value="<%= property.state%>" type="text" name="state" class="form-control" id="exampleFormControlInput1" placeholder="CA">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Rent Price</label>
    <input value="<%= property.rentalPrice%>" type="text" name="rentalPrice" class="form-control" id="exampleFormControlInput1" placeholder="6000">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Number of Bedrooms</label>
    <select value="<%= property.numBedrooms%>" name="numBedrooms" class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Number of Bath Rooms</label>
    <select value="<%= property.numBathrooms%>" name="numBathrooms" class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Square Feet</label>
    <input value="<%= property.sizeSquareFeet%>"type="text" name="sizeSquareFeet" class="form-control" id="exampleFormControlInput1" placeholder="300sq">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"><%= property.description%></textarea>
  </div>
  <button type="submit">Update</button>
</form>