<h1>All Properties</h1>
<ul>
<% properties.forEach(function(p){ %>
<li> 
<a href="/properties/show/<%=p._id%>">
  <%= p.aptNumber %> , <%= p.street %> , <%= p.city %>, <%= p.zipCode %> , <%= p.state %> 
</a> 

</li>
<% }) %>
</ul>