<div id="middle" class="col-sm-4 col-sm-offset-4">
<h1>All Vacant Properties</h1>

<article>
<% properties.forEach(function(p){ %>
  <a href="/properties/<%=p._id%>"><section> 
    
      <%= p.aptNumber %>, <%= p.street %>, <%= p.city %>, <%= p.zipCode %>, <%= p.state %> - Owner: <%= !!p.owner ? `${p.owner.firstName} ${p.owner.lastName}` : "None" %>
    
  </section></a>
<% }) %>
</article>
</div>