<h1>All Vacant Properties</h1>

<ul>
<% properties.forEach(function(p){ %>
  <li> 
    <a href="/properties/<%=p._id%>">
      <%= p.aptNumber %>, <%= p.street %>, <%= p.city %>, <%= p.zipCode %>, <%= p.state %> - Owner: <%= !!p.owner ? `${p.owner.firstName} ${p.owner.lastName}` : "None" %>
    </a>
  </li>
<% }) %>
</ul>