<div class="property-info">
  <%= specificProperty.rentalPrice %>
  <%= specificProperty.aptNumber%>
  <%= specificProperty.street%>
  <%= specificProperty.city%> 
  <%= specificProperty.zipCode %>
  <%= specificProperty.state%> 
  <%= specificProperty.rentalPrice %>
  <%= specificProperty.numBedrooms %>
  <%= specificProperty.numBathrooms %>
  <%= specificProperty.sizeSquareFeet %>
  <%= specificProperty.vacant %>
  <%= specificProperty.description %>
</div>
