<div class="property-info">
  <%= property.rentalPrice %>
  <%= property.aptNumber%>
  <%= property.street%>
  <%= property.city%> 
  <%= property.zipCode %>
  <%= property.state%> 
  <%= property.rentalPrice %>
  <%= property.numBedrooms %>
  <%= property.numBathrooms %>
  <%= property.sizeSquareFeet %>
  <%= property.vacant %>
  <%= property.description %>
</div>

<a href='/properties/<%= property._id %>/edit'>Edit</a>
<a id="delete" href='/properties/<%= property._id %>?_method=DELETE'>Delete</a>

<script>
  $('#delete').on('click', function(e) {
    if(!confirm("Are you sure you want to delete this property?")){
      return false
    }
  })
</script>