<div class="property-info">
  <%= property.rentalPrice %>
  <%= property.aptNumber%>
  <%= property.street%>
  <%= property.city%> 
  <%= property.zipCode %>
  <%= property.state%> 
  <%= property.rentalPrice %>
  <%= property.numBedrooms %>
  <%= property.numBathrooms %>
  <%= property.sizeSquareFeet %>
  <%= property.vacant %>
  <%= property.description %>
</div>

<a href='/properties/<%= property._id %>/edit'>Edit</a>
<a href='/properties/<%= property._id %>?_method=DELETE'>Delete</a>