<div class="property-info">
  <h1><%= `${property.aptNumber}, ${property.street}, ${property.city}, ${property.state} ${property.zipCode}` %></h1>
  <dl>
    <dt>Owner</dt>
    <dd><%= property.owner.firstName + " " + property.owner.lastName  %></dd>

    <dt>Rental Price</dt>
    <dd><%= property.rentalPrice %></dd>

    <dt>Bedrooms</dt>
    <dd><%= property.numBedrooms %></dd>

    <dt>Bathrooms</dt>
    <dd><%= property.numBathrooms %></dd>

    <dt>Size</dt>
    <dd><%= property.sizeSquareFeet %> sq ft.</dd>

    <dt>Vacant</dt>
    <dd><%= property.vacant %></dd>
    
    <dt>Description</dt>
    <dd><%= property.description %></dd>
  </dl>
</div>

<a href='/properties/<%= property._id %>/edit'>Edit</a>
<a id="delete" href='/properties/<%= property._id %>?_method=DELETE'>Delete</a>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#applyModal" data-whatever="@mdo">Apply</button>

<div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Apply To This Property</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form url="properties/<%= property._id %>/inquiries">
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">First Name:</label>
            <input name="firstName" type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Last Name:</label>
            <input name="lastName" type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Telephone:</label>
            <input name="telephone" type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Email:</label>
            <input name="email" type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Description:</label>
            <textarea name="description" class="form-control" id="message-text"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="submit">Submit</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<script>
  $('#delete').on('click', function(e) {
    if(!confirm("Are you sure you want to delete this property?")){
      return false
    }
  })

  
  
  
</script>