<h1 style="margin-top:100px;">Dashboard</h1>

<% if(currentUser.residence) { %>
  <h3>My Home</h3>
  <a href="/properties/<%= user.residence.id%>">
    <% if(user.residence.images.length > 0) { %>
      <img src="<%= user.residence.images[0].url%>"/><br />
    <% } %>
    <%= user.residence.formattedAddress() %>
  </a>
  <br />
  <br />
  <h3 style="display: inline">Chat with Owner</h3>

  <a class="chat-icon" href="/conversations/<%= user.conversation %>">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-weixin fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <hr />
<% } else { %>
  <% if(!_.isEmpty(properties)) { %>
    <% properties.forEach(function(property) {%>
      <div>
        <a href="/properties/<%= property._id %>">
          <div class="">
            <p><%= property.street %> - <%= property.numBedrooms %> Bedrooms - <%= property.numBathrooms %> Bathrooms <%= property.vacant? '(Vacant)' : '' %></p>
          </div>
        </a>
        <% if (!property.vacant) {%>
          <h3>Invoices:</h3>
          <ul>
            <% property.invoices.forEach(function(invoice) { %>
              <li><a href="/properties/<%= property.id%>/invoices/<%= invoice.id %>">Billed To: <%= property.resident.firstName %> <%= property.resident.lastName %> <br> Amount: $<%= invoice.amount %></a> </li>
            <% }) %>
          </ul>
        <% } else { %>
          <h3>Inquiries:</h3>
          <ul>
            <% property.inquiries.forEach(function(inquiry) { %>
              <li><a href="/properties/<%= property.id%>/inquiries/<%= inquiry.id %>">Name: <%= inquiry.firstName %>, Email: <%= inquiry.email %></a> </li>
            <% }) %>
          </ul>
        <% } %>
        <hr />
      </div>
    <% }) %>
  <% } else { %>
  <h3>There are currently no properties to display</h3>
  <a href="/properties/new">Add New Property</a>
  <% } %>
<% } %>