<h1>Dashboard</h1>

<% if(currentUser.residence) { %>
  <h2>I am a resident</h2>
<% } else { %>
  <h2>I am a property owner</h2>
  <% if(!_.isEmpty(properties)) { %>
    <div class="row">
      <% properties.forEach(function(property) {%>
        <a href="/properties/<%= property._id %>">
          <div class="col">
                <p><%= property.street %> - <%= property.numBedrooms %> Bedrooms - <%= property.numBathrooms %> Bathrooms <%= property.vacant? '(Vacant)' : '' %> Inquiries: <%= property.inquiries%></p>
          </div>
        </a>
      <% }) %>
    </div>
  <% } else { %>
    <h3>There are currently no properties to display</h3>
    <a href="/properties/new">Add New Property</a>
  <% } %>
<% } %>


