<h1>Dashboard</h1>

<% if(currentUser.residence) { %>
  <h2>I am a resident</h2>
<% } else { %>
  <h2>I am a property owner</h2>
  <% if(!_.isEmpty(properties)) { %>
    <% properties.forEach(function(property) {%>
      <hr />
      <div>
        <a href="/properties/<%= property._id %>">
          <div class="">
            <p><%= property.street %> - <%= property.numBedrooms %> Bedrooms - <%= property.numBathrooms %> Bathrooms <%= property.vacant? '(Vacant)' : '' %></p>
          </div>
        </a>
        <h3>Inquiries:</h3>
        <ul>
          <% property.inquiries.forEach(function(inquiry) { %>
            <li><%= inquiry %></li>
          <% }) %>
        </ul>
        
      </div>
      <% }) %>
  <% } else { %>
    <h3>There are currently no properties to display</h3>
    <a href="/properties/new">Add New Property</a>
  <% } %>
<% } %>



