<div style="margin-top: 100px;">
  <h3>First Name</h3>
  <p><%= user.firstName %></p>
  
  <h3>Last Name</h3>
  <p><%= user.lastName %></p>
  
  <h3>Email</h3>
  <p><%= user.email %></p>
  
  <h3>Telephone</h3>
  <p><%= user.telephone %></p>
  
  <a class="btn btn-partmint" href="/users/<%= user._id %>/edit">Edit Profile</a>
  <a class="btn btn-danger" href="/reset_password">Reset Password</a>
</div>