<div style="margin-top: 100px;">
  <h3>First Name</h3>
  <p><%= user.firstName %></p>
  
  <h3>Last Name</h3>
  <p><%= user.lastName %></p>
  
  <h3>Email</h3>
  <p><%= user.email %></p>
  
  <h3>Telephone</h3>
  <p><%= user.telephone %></p>
  
  <a href="/users/<%= user._id %>/edit" class="btn btn-partmint">Edit Profile</a>
  <a href="/reset_password" class="btn btn-addmint">Reset Password</a>
</div>