<div id="middle" class="col-sm-4 col-sm-offset-4" style="margin-top:30px;">
  
<h1>Inquiry Details</h1>

<dl>
  <dt>First Name</dt>
  <dd><%= inquiry.firstName %></dd>
  <dt>Last Name</dt>
  <dd><%= inquiry.lastName %></dd>
  <dt>Email</dt>
  <dd><%= inquiry.email %></dd>
  <dt>Telephone</dt>
  <dd><%= inquiry.telephone %></dd>
  <dt>Description</dt>
  <dd><%= inquiry.description %></dd>
  <dt>Property Address</dt>
  <dd><%= inquiry.property.aptNumber%>, <%= inquiry.property.street %>, <%= inquiry.property.city %>, <%= inquiry.property.state %> <%= inquiry.property.zipCode %></dd>

</dl>

</div>

